@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Outfit', sans-serif;
    --fonte3: 'Dancing Script', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--fonte1);
    background-color: darkgray;
    min-height: 100%;
    text-align: center;
}

header {
    font-family: var(--fonte2);
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 6vw;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    font-weight: bolder;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
}

.normal {
    background-color: white;
}

.imagem {
    background-color: rgb(68, 67, 67);
    color: white;
    box-shadow: inset 0px -4px 10px rgb(0 0 0 / 36%);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.normal p {
    text-align: center;
    margin: auto;
}

.imagem p {
    background-color: rgba(0, 0, 0, 0.541);
    width: 50%;
    text-align: center;
    margin: auto;
    text-shadow: 0px 0px 3px black;
}

#foto1 {
    background-image: url(imagens/background001.jpg);
}

#foto2 {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: auto;
}